@import "~bootstrap/scss/bootstrap";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

.search-container {
    position: relative;

    #suggestion {
        background-color: white;
        width: 100%;
        box-shadow: 0 15px 15px 0 grey;
        position: absolute;

        .suggested-address {
            padding-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;

            cursor: pointer;
        }
    }
}

//Carousel
.ms_carousel-inner, .ms_carousel-item { height: 400px; }