@import "~bootstrap/scss/bootstrap";

.card-container {
    overflow: auto;
}

.bottom-page {
    height: 550px;
    // border: 1px solid black;
}

.messages-body {
    overflow: auto;
    height: 300px;
}
